.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom right, #159957, #155799);
  color: white;
  font-size: 2em;
  font-family: 'Fira Mono', 'Operator Mono', 'Courier New', monospace;
  font-weight: 100;

  div:first-child {
    font-size: 1.5em;
  }

  button {
    background-color: transparent;
    border: 2px white solid;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    color: white;
    font-size: 1.5em;
    vertical-align: center;
    margin: 20px;
    padding: 0;
    font-family: 'Fira Mono', 'Operator Mono', 'Courier New', monospace;
    font-weight: 100;
    outline: none;
    cursor: pointer;
  }
}
